# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables

# TypeScript cache
*.tsbuildinfo

# Build output
build/

# Dependency directories
jspm_packages/

# IDEs and editors
.vscode/
.idea/

# Miscellaneous
.DS_Store
Thumbs.db